.gradient-button {
    background: linear-gradient(90deg, #00A8C6, #A5FF7E);
    border: none;
    border-radius: 7px;
    color: white;
    padding: 15px 30px;
    margin-top: 40px;
    max-width: 220px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.gradient-button:hover {
    opacity: 0.9;
    transform: scale(1.05);
    /* Slightly enlarges the button on hover */
}

@media only screen and (max-width: 768px) {

    .button {
        margin-top: 50px;
        font-size:13px ;
    }
}