/* .App {
  text-align: center;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.App {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.heading {
    font-size: 60px;
    font-weight: 500;
}

.sub-heading {
    font-size: 30px;
    color: #818181;
}

.gradient {
    background: linear-gradient(90deg, #00A8C6, #A5FF7E);
    -webkit-background-clip: text;
    /* For Safari and Chrome */
    background-clip: text;
    color: transparent;
}

.App-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    /* Keep iframe in the background */
}

.App-header {
    position: relative;

    z-index: 2;
    display: flex;
    margin: 50px 50px 0 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.App-body {
    position: relative;
    z-index: 2;
    margin: 100px 0 0 67px;
    align-items: center;
    
    color: white;
}

.App-logo {
    height: 12vmin;
    pointer-events: none;
}

.App-link {
    color: #61dafb;
}

@media only screen and (max-width: 768px) {

    /* Adjusting the App-header for mobile */
    .App-header {
        flex-direction: column;
        /* Stack elements vertically on mobile */
        margin: 20px 0 0 20px;
        /* Reduce margin for mobile */
        align-items: center;
        
    }

    /* Adjusting App-body for mobile */
    .App-body {
        margin: 50px 0 0 20px;
        height: 60vh;
        display: flex;
        /* Reduce margins for mobile */
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        /* Center-align text/content for better readability */
    }

    /* Resize logo for smaller screens */
    .App-logo {
        height: 20vmin;
        /* Increase the size for better visibility on mobile */
    }

    /* Adjust link appearance */
    .App-link {
        font-size: 14px;
        /* Reduce link font size for mobile */
    }

    .heading {
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .sub-heading{
        font-size: 20px;

    }

    /* Reduce iframe size for mobile if needed */
    /* .App-iframe {
        height: auto;
        width: 100vw;
        Ensure iframe takes full width
    } */
}